*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* background: #FED7AA; */
}
.loader{
    /* position: relative; */
  position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #FED7AA;
}
.circle{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 12px solid #f8bf7e;
    animation: anim1 1s infinite linear;

}
@keyframes anim1{
    0%{
        /* border-color: #ffb158; */
        transform:  rotate(0deg);
        border-width: 14px;
        border-top: 0px;
        border-bottom: 0px;
    }

    20%{
        /* transform: rotate(90deg); */
        border-width: 10px;
        border-style:solid;
        /* border-color: #ffb158; */
        border-top: 0px;
        border-bottom: 0px;
        /* box-shadow: 0 0px 135px rgba(255, 177, 88); */
       height:210px ;
       width:210px ;
       /* margin-top:  20px; 
       margin-left: 20px; */

    }
    50%{
        /* transform: rotate(180deg); */
        border-width: 6px;
        border-style:solid;
        /* border-color: #ffb158; */
        border-top: 0px;
        border-bottom: 0px;
        /* box-shadow: 0 0px 135px rgba(255, 177, 88); */
        height:220px ;
       width:220px ;
       
       
    }
    100%{
        transform: rotate(360deg);
         /* height: 260px;
        width: 260px; */
        border-width: 2px;
        border-style:solid;
        /* border: none; */
        border-top: 0px;
        /* border-color: #ffb158; */
        border-bottom: 0px;
        height:260px ;
       width:260px ;
    
     }
} 




.circle2{
    width: 170px;
    height: 170px;
    animation: anim2 1s infinite linear;

}
@keyframes anim2{
    0%{
        /* border-color: #ffb158; */
        transform:  rotate(0deg);
        border-width: 14px;
        border-left: 0px;
        border-right: 0px;
    }

    20%{
        /* transform: rotate(90deg); */
        border-width: 10px;
        border-style:solid;
        /* border-color: #ffb158; */
        border-left: 0px;
        border-right: 0px;
        /* box-shadow: 0 0px 135px rgba(255, 177, 88); */
       height:200px ;
       width:200px ;
      

    }
    50%{
        /* transform: rotate(180deg); */
        border-width: 6px;
        border-style:solid;
        /* border-color: #ffb158; */
        border-left: 0px;
        border-right: 0px;
        /* box-shadow: 0 0px 135px rgba(255, 177, 88); */
        height:210px ;
       width:210px ;
       
    }
    100%{
        transform: rotate(360deg);
        border-width: 2px;
        border-style:solid;
        /* border:none; */
        border-left: 0px;
        /* border-color: #ffb158; */
        border-right: 0px;
        height:250px ;
       width:250px ;
    
     }
} 
.circle3{
    width: 170px;
    height: 170px;
    border: 10px solid #C2410C;
    border-top: 0px;
    border-bottom: 0px;
    animation: anim3 1s infinite linear;

}
@keyframes anim3{
    0%{
        transform: rotate(-360deg);
    }
}
.circle5 i{
    font-size: 39px;
    margin-left: 18px;
    margin-top: 13px;
    color: #F97316;
}
.circle5 p{
    margin-top: 6px;
    color: #C2410C
}